* {
  box-sizing: border-box;
}

body {
  background-color: #004435;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}

a {
  color: #fff;
}

.swiper {
  height: 100%;
}

.slide {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 840px) and (max-height: 770px) {
    flex-direction: column;
    align-items: center;
  }

  &.sleep &__img-wrapper {
    background-image: url(../assets/sleep.jpg);
    background-position: center center;
  }

  &.moments &__img-wrapper {
    background-image: url(../assets/moments.jpg);
    background-position: 70% 50%;
  }

  &.work &__img-wrapper {
    background-image: url(../assets/work.jpg);
    background-position: center center;
  }

  &__panel {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

    @media screen and (max-width: 1024px) {
      width: 375px;
      gap: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 320px;
    }

    @media screen and (max-width: 840px) and (max-height: 770px) {
      width: 100%;
      height: 240px;
    }

    & > .logo {
      width: 360px;
      height: 120px;

      @media screen and (max-width: 1024px) {
        width: auto;
        height: 90px;
      }

      @media screen and (max-width: 768px) {
        height: 58px;
      }
    }
  }

  &__description {
    font-size: 40px;

    @media screen and (max-width: 1024px) {
      font-size: 36px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  &__img-wrapper {
    height: 100%;
    width: calc(100% - 500px);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 1024px) {
      width: calc(100% - 375px);
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 320px);
    }

    @media screen and (max-width: 840px) and (max-height: 770px) {
      width: 100%;
    }
  }

  &__description__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    width: 100%;

    & > img {
      aspect-ratio: 4 / 5;
      height: 550px;
      height: auto;
      display: block;
    }

    & > .slide__description {
      width: 60%;
      text-align: left;
    }
  }

  &__description__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    margin: auto;
  }
}

.first-screen {
  & .swiper-pagination {
    width: calc(100% - 500px);
    right: 0;
    bottom: 26px;
    left: auto;

    @media screen and (max-width: 1024px) {
      width: calc(100% - 375px);
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 320px);
    }

    @media screen and (max-width: 840px) and (max-height: 770px) {
      width: 100%;
    }
  }
}

.top-leaf {
  position: absolute;
  right: -40px;
  top: -25px;
  width: 220px;
  height: 130px;
  z-index: -1;

  @media screen and (max-width: 840px) and (max-height: 770px) {
  }
}

.bottom-leaf {
  position: absolute;
  left: -55px;
  bottom: -5px;
  width: 225px;
  height: 155px;
  z-index: -1;

  @media screen and (max-width: 840px) and (max-height: 770px) {
  }
}

.swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  background-color: #fff;
  opacity: 0.3;
  margin: 0 16px !important;

  @media screen and (max-width: 768px) {
    margin: 0 8px !important;
    width: 12px;
    height: 12px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 0.7;
}

.first-screen {
  height: 100vh;
}

.preview {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: #004435;
  z-index: 2;
  transition: left 0.5s ease;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    visibility: hidden;

    &:first-child {
      visibility: visible;
    }
  }

  & .top-leaf {
    right: -60px;
  }

  & .top-leaf1 {
    position: absolute;
    top: 40px;
    left: -80px;
    width: 225px;
    height: 155px;
  }

  & .bottom-leaf {
    position: absolute;
    left: -15px;
    bottom: -5px;
    width: 225px;
    height: 155px;
  }
}

.hide {
  opacity: 0;
}

.wrapper-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;

  .logo {
    width: 283px;
    height: 94px;
    display: block;
  }

  &.description {
    margin-top: 120px;

    & .bottom-leaf {
      left: 60px;
      top: 70px;
    }

    & .bottom-leaf1 {
      position: absolute;
      right: 60px;
      bottom: 70px;
      z-index: -1;
    }
  }

  &.products {
    justify-content: flex-start;
    padding-top: 35px;
  }
}

.logo-text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  & > img {
    position: static;
    width: 283px;
    height: 94px;
    display: block;
  }

  & > p {
    font-size: 22px;
    width: 600px;
    margin-bottom: 80px;

    @media screen and (max-width: 900px) {
      width: 90%;
      margin-bottom: 20px;
    }
  }
}

.products__row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 700px) {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
  }

  &-top {
    display: flex;

    @media screen and (max-width: 950px) {
      gap: 15px;
    }

    @media screen and (max-width: 700px) {
      width: calc(100% / 3 * 2);
    }

    & .swiper {
      width: 50%;
    }
  }

  &-bottom {
    display: flex;

    & .swiper {
      width: calc(100% / 3);
    }

    @media screen and (max-width: 950px) {
      gap: 15px;
      margin-left: 15px;
    }

    @media screen and (max-width: 700px) {
      width: calc(100% / 3 * 2);
    }
  }

  & .swiper {
    padding-bottom: 2rem;

    @media screen and (max-width: 950px) {
      width: 100%;
    }
  }

  & .swiper-slide {
    width: 100% !important;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 8.5px !important;
  }
}

.about {
  gap: 0;
	overflow-x: hidden;
	overflow-y: auto;

  &__col {
    display: flex;
    width: 100%;
    padding: 0 100px;
    justify-content: space-between;
    text-align: left;

		@media screen and (max-width: 1500px) {
			gap: 40px;
		}

		@media screen and (max-width: 1200px) {
			padding: 0 40px;
		}
  }

  &__logo-list {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }

  &__text {
    & > p {
      font-size: 26px;
      line-height: 100%;
    }

    & > ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      list-style-type: circle;
    }

    & li {
      position: relative;
      font-size: 26px;
      padding-left: 20px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
      }
    }

    &-top {
      margin-top: 20px;
      margin-bottom: 60px;
    }
  }

  &__info-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 50px;
    margin-bottom: 40px;

		@media screen and (max-width: 1200px) {
			padding: 0 40px;
		}

		@media screen and (max-width: 1200px) {
			padding: 0 40px;
		}
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__link {
    font-size: 24px;
    line-height: 80%;
    height: 80px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    font-family: "primary", sans-serif;
  }

  & img {
    user-select: none;
    pointer-events: none;
  }
}
